name: Publish to PyPI

on:
  push:
    tags:
      - "*.*.*"  # Ex: 0.1.0, 1.0.0, etc. (sans "v")

permissions:
  contents: read

jobs:
  build-and-publish:
    name: Build and publish package
    runs-on: ubuntu-latest

    environment:
      name: pypi  # Nom de l'environnement GitHub sécurisé
      url: https://pypi.org/project/sphinx-autoindex/

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build the package
        run: |
          python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
